<div class="row">
  <div class="col">
    <h1>Login</h1>
    <hr>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <ngb-alert type="danger" (close)="error = null" *ngIf="error">{{ error }}</ngb-alert>
      <div class="form-row">
        <div class="form-group col">
          <input class="form-control" type="text" formControlName="username" placeholder="Username" [ngClass]="{'is-invalid': showFieldHint('username')}">
          <div *ngIf="showFieldHint('username')" class="invalid-feedback">
            <div *ngFor="let error of f['username'] | formErrors">{{ error }}</div>
          </div>
        </div>
        <div class="form-group col">
          <input class="form-control" type="password" formControlName="password" placeholder="Password" [ngClass]="{'is-invalid': showFieldHint('password')}">
          <div *ngIf="showFieldHint('password')" class="invalid-feedback">
            <div *ngFor="let error of f['password'] | formErrors">{{ error }}</div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary float-right" type="submit" [disabled]="form.invalid">Submit</button>
      <a class="btn btn-outline-dark float-right mr-2" routerLink="/home">Back</a>
    </form>
  </div>
</div>
