<div class="row">
  <div class="col">
    <ng-container *ngIf="authService.isAuthenticated; else notLogin">
      <button class="float-right btn btn-warning" (click)="authService.logout()">Logout</button>
    </ng-container>
    <ng-template #notLogin>
      <a class="float-right btn btn-primary" routerLink="/login">Login</a>
    </ng-template>

    <h1>JWT Auth</h1>
    <hr>
    <p class="text-center" *ngIf="!authService.isAuthenticated">Please login.</p>
  </div>
</div>

<div class="row" *ngIf="authService.isAuthenticated">
  <div class="col-12">
    <button class="btn btn-success mb-3" (click)="getTokenInfo()">Get Token Info</button>

    <p class="text-truncate">Now: {{ now }}</p>
    <p class="text-truncate">Token: {{ token }}</p>
    <p class="text-truncate">Payload: {{ payload | json }}</p>
    <p class="text-truncate">Expiration Date: {{ expirationDate }}</p>
    <p class="text-truncate">Refresh Expiration Date: {{ refreshExpirationDate }}</p>

    <hr>
  </div>
  <div class="col-12">
    <button class="btn btn-info mb-3" (click)="getMe()">Get Me</button>
    <p *ngIf="me$">
      {{ me$ | async | json }}
    </p>
  </div>
</div>
